@charset "utf-8";

/* common.css - 공통레이아웃 디자인 */

/********* 랩 ********/

.wrap {
    position: relative;
    top: 50px;
    height: calc(100% - 100px);
    padding: 0 50px;
    overflow: auto;
}

/************** 픽스 영역 **************/
.fixed {
    position: relative;
    z-index: 10;
}

/************ 헤더 *************/
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #fff;
    transition: all .4s ease-out;
}

header.on {
    left: 45vmin;
}

header h1 {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    font-size: 16px;
}

header a {
    transition: all .4s;
}

header h1:hover a {
    color: #3D8087;
}

/****** sns **********/
.sns_list {
    position: fixed;
    width: 50px;
    top: 50%;
    right: 17px;
    transform: translateY(-50%);
    text-align: center;
}

.sns_list li {
    width: 100%;
    height: 40px;
}

.phone {
    position: relative;
}

.phone_msg {
    display: none;
    background: #F2DDB6;
    text-align: center;
    position: absolute;
    width: 200px;
    height: 30px;
    line-height: 28px;
    top: -50%;
    right: 150%;
}

/*********** 메뉴버튼 ***********/
.menu {
    position: fixed;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    display: block;
    width: 30px;
    height: 28px;
    z-index: 2;
    transition: all .4s ease-out;
}

.menu span {
    position: absolute;
    display: inline-block;
    height: 2px;
    background: #333;
    transition: all .4s ease-out;
}

.menu span:nth-child(1) {
    top: 0;
    right: 0;
    width: 20px;
}

.menu span:nth-child(2) {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 35px;
}

.menu span:nth-child(3) {
    bottom: 0;
    right: 0;
    width: 27px;
}

.menu:hover span:nth-child(1) {
    width: 27px;
}

.menu:hover span:nth-child(2) {
    width: 20px;
}

.menu:hover span:nth-child(3) {
    width: 35px;
}

.menu.on span:nth-child(1) {
    width: 30px;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.menu.on span:nth-child(2) {
    display: none;
}

.menu.on span:nth-child(3) {
    width: 30px;
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}


/**************** gnb ****************/
.gnb_list {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 50vmin;
    background: rgba(255, 255, 255, 0.9);
    padding-left: 13vmin;
    transition: all .4s ease-out;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gnb_list.on {
    left: 0;
}

.gnb_list li {
    width: 100%;
    font-size: 7vmin;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Secular One', sans-serif;
}

.gnb_list a {
    position: relative;
}

.gnb_list a::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 2vmin;
    width: 0;
    height: 2vmin;
    z-index: -1;
    transition: all .4s ease-out;
}

.gnb_list li:nth-child(1) a::before {
    background: rgba(61, 128, 135, 0.8);
}

.gnb_list li:nth-child(2) a::before {
    background: rgba(242, 139, 48, 0.8);
}

.gnb_list li:nth-child(3) a::before {
    background: rgba(217, 90, 43, 0.8);
}


.gnb_list li:nth-child(4) a::before {
    background: rgba(217, 58, 43, 0.8);
}


.gnb_list a:hover::before {
    width: 100%;
}

/******* 푸터 고정********/
.footer_white {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    height: 50px;
    width: 100%;
}

/************ 미디어쿼리 *************/
@media only screen and (max-width:1024px) {
    .sns_list {
        right: 0;
    }

    .gnb_list a::before {
        width: 100%;
        bottom: 30px;
    }
}

/* 미디어쿼리 1024 */


@media only screen and (max-width:500px) {
    header {
        display: none;
    }

    .footer_white {
        display: none;
    }

    .menu {
        top: 10vmin;
        left: 7vmin;
    }

    .gnb_list {
        width: 80%;
        background-color: #fff;
    }

    .gnb_list a {
        font-size: 10vmin;
    }

    .sns_list {
        left: -100%;
        transition: all .4s ease-out;
    }

    .sns_list.on {
        left: 65%;
        z-index: 2;
    }
}

/* 미디어쿼리 500 */
