@charset "utf-8";

/* common.css - 공통레이아웃 디자인 */
html,
body {
    width: 100%;
    height: 100%;
    /*    overflow: hidden;*/
}

/*****************************************************************/
/* 픽스영역 on 글씨 */
.fixed_wrap.on .black {
    display: block;
}

.fixed_wrap .black {
    display: none;
}

.fixed_wrap .white {
    display: block;
}

.fixed_wrap.on .white {
    display: none;
}

.fixed_wrap.on a,
.fixed_wrap.on {
    color: #000;
}

/* 햄버거메뉴 클릭시 헤더 설정 */
.gnb_wrap.on li {
    display: none;
}

.gnb_wrap.on .header_menu_icon {
    display: block;
    margin-left: auto;
    transform: rotate(90deg);
}

/* 햄버거 메뉴 내려오게 */
.menu.on {
    top: 0;
}

/* 사이드 인디케이터 액티브 */
.indicator_wrap.on .indicator_area li.on .indicator_circle,
.indicator_wrap.on .indicator_area li:hover .indicator_circle {
    background-color: #000;
    border: 1px solid #000;
}

.indicator_wrap.on .indicator_circle {
    border: 1px solid #000;
}

.indicator_wrap.on .indicator_area.on .indicator_none,
.indicator_wrap.on .indicator_area li:hover .indicator_none {
    opacity: 1;
}

/* 헤더 sns 영역 */

.gnb_sns_on.on span {
    background-color: #000;
}

.gnb_sns_on.on li:hover span {
    transform: scale(1.4);
    opacity: 0;
    transition: all .6s ease-out;
}

.top_btn.on .white{
    display: none;
}
.top_btn.on .black{
    display: block;
}
.top_btn.on p{
    color: #000;
}
/*****************************************************************/
/* 헤더 영역 */
.header_wrap {
    display: flex;
    align-items: center;
    height: 110px;
    position: fixed;
    left: 50px;
    right: 50px;
    top: 0;
    z-index: 999999;
}

/* 로고 */
.header_logo {
    width: 300px;
    padding-top: 17px;
}

.header_logo img {
    width: 80%;
}

/* gnb */
.gnb_wrap {
    width: 250px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.gnb_wrap a {
    color: #fff;
}

.gnb_wrap li {
    margin-left: auto;
    position: relative;
    transition: transform .5s ease-out;
}

.gnb_wrap li img {
    width: 28px;
}

/* gnb sns 공유 영역 */
.gnb_sns_on {
    opacity: 0;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-out;
}

.gnb_sns_on li {
    position: relative;
    width: 100%;
    padding-bottom: 15px;
    position: relative;
}

.gnb_wrap > li:nth-child(3):hover .gnb_sns_on {
    opacity: 1;
}

.gnb_sns_on span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}

.gnb_sns_on li:hover span {
    transform: scale(1.4);
    opacity: 0;
    transition: all .6s ease-out;
}


@media only screen and (max-width:1024px) {
    .header_logo {
        width: 250px;
    }

    .gnb_wrap {
        width: 100px;
    }

    .gnb_wrap > li:nth-of-type(1),
    .gnb_wrap > li:nth-of-type(2) {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .header_wrap {
        position: fixed;
        height: 70px;
        left: 0;
        right: 0;
        padding: 0 5%;
    }

    .header_logo {
        padding: 0;
    }
}

@media only screen and (max-width: 450px) {
    .header_wrap {
        height: 50px;
    }

    .header_logo {
        width: 35%;
    }

    .gnb_wrap > li:nth-of-type(3) img,
    .gnb_wrap > li:nth-of-type(4) img {
        width: 20px;
    }

    .gnb_sns_on {
        display: none;
    }
}

/****************************************************************/
/* 사이드 바 영역 */
.indicator_wrap {
    position: fixed;
    right: 50px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    z-index: 99999;
}

.indicator_area {
    width: 100px;
}

.indicator_area a {
    color: rgba(255, 255, 255, 0.9);
}

.indicator_area li {
    position: relative;
    width: 100%;
    height: 20px;
}

/* 사이드바 원 */
.indicator_circle {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50px;
    border: 1px solid #fff;
    transition: all .4s;
    z-index: 1;
}

/* 사이드바 글씨 */
.indicator_none {
    opacity: 0;
    padding-right: 15px;
    text-align: right;
    transition: all .4s;
}

/* 사이드 인디케이터 온(활성화) */
.indicator_area li.on .indicator_circle,
.indicator_area li:hover .indicator_circle {
    background-color: #fff;
}

.indicator_area li.on .indicator_none,
.indicator_area li:hover .indicator_none {
    opacity: 1;
}

/****************************************************************/
/* 스크롤바 영역 */
.scroll_wrap {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}

.scroll_wrap a {
    display: block;
    z-index: 1;
}

.scroll_text {
    display: block;
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
}

.scroll_img {
    width: 40px;
    animation: scroll_img .5s ease-in-out infinite alternate;
    margin: 10px auto 0 auto;
}

@keyframes scroll_img {
    to {
        margin-bottom: -3px;
    }
}

/*****************************************************************/
/* 푸터 영역 */
.cont4 {
    height: 200px;
    font-size: 14px;
}

#cont4 {
    display: flex;
    align-items: center;
}

/* 푸터 약관 */
.footer_terms a {
    font-weight: 700;
    display: block;
    transition: all .4s ease-out;
}

.footer_terms a:hover {
    color: #f44336;
}

.footer_terms li {
    padding: 0 10px;
    border-right: 1px solid #666;
    line-height: 1;
}


.footer_terms li:first-child {
    padding-left: 0;
}

.footer_terms li:last-child {
    border: 0;
}

/* 푸터 오른쪽*/
.footer_right {
    width: 300px;
    margin-left: auto;
}

.footer_right > img {
    width: 100%;
    margin-bottom: 15px;
}

/* 푸터 오른쪽 sns */
.footer_sns li {
    position: relative;
    width: 33.33%;
    text-align: center;
}

.footer_sns img {
    width: 40px;
}

.footer_sns a {
    display: block;
}

.footer_sns span {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all .4s ease-out;
}

.footer_sns li:hover span {
    transform: translateX(-50%) scale(1.2);
    border: 1px solid #000;
}

.br {
    display: block;
}



@media only screen and (max-width:1280px) {
    .media_br {
        display: block;
    }
}

@media only screen and (max-width:1024px) {
    .footer_right {
        width: 250px;
    }
}

@media only screen and (max-width:800px) {
    .cont4 {
        height: auto;
        padding: 3% 0;
    }

    .footer_right {
        display: none;
    }

    .media_br {
        display: inline;
    }
}

@media only screen and (max-width: 450px) {
    .cont4 {
        font-size: 12px;
    }
}

/***************************************************************/
/* 왼쪽 샤롯데 고정 */
.charlotte_text {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-90deg);
    color: #fff;
    font-family: 'Playfair Display', serif;
    z-index: 999999;
    letter-spacing: 1px;
}

@media only screen and (max-width:1024px) {
    .charlotte_text {
        display: none;
    }
}

/*****************************************************************/
/* 햄버거 메뉴 활성화 */
.menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/bg_menu.jpg) no-repeat center/cover;
    z-index: 99999;
    transition: top .3s ease-out;
}

.menu > inbox {
    position: relative;
}

.menu_wrap {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Playfair Display', serif;
}

.menu_wrap li {
    width: 100%;
}

.menu_wrap a {
    position: relative;
    color: #fff;
    font: 700 6.25em/1.5 'Playfair Display', serif;
}

.menu_wrap a::after {
    content: '';
    position: absolute;
    left: 0;
    top: 70%;
    width: 0;
    height: 3px;
    background-color: #fff;
    transition: width .4s cubic-bezier(1, 0.04, 1, 1);
}

.menu_wrap li:hover a::after {
    width: 100%;
}
@media only screen and (max-width: 800px) {
    .page.menu {
        height: 100%;
    }

    .menu_wrap {
        left: 10%;
    }

}

/******************************************************************/
/* TOP 버튼 */
.top_btn {
    position: fixed;
    bottom: 40px;
    right: 50px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    z-index: 99999;
    transition: all .3s ease-out;
}

.top_btn img {
    width: 25px;
}

.top_btn p {
    opacity: 0;
    transition: all .3s ease-out;
}

.top_btn:hover p {
    opacity: 1;
}

.top_btn:hover {
    bottom: 50px;
}

@media only screen and (max-width: 450px) {
    .top_btn {
        right: 18px;
        bottom: 25px;
    }

    .top_btn img {
        width: 20px;
    }
}
